doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pet Sitting
    link(rel='stylesheet', href='./css/app.css')
  body
    header
        h1 Pet Sitting

    #controls
        select#gender
            option Select a Gender
            option Male
            option Female
        select#species
            option Select a Species
            option(value='owl.jpg') Owl
            option(value='penguin.jpg') Penguin
            option(value='turtle.jpg') Turtle
            option(value='hedgehog.jpg') Hedgehog

        input#name(type='text' placeholder='Name')
        input#age(type='text' placeholder='Age')
        button#add Add Pet

    #pets

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/database.js')
    script(src='./js/es6/pet.js')
    script(src='./js/es6/main.js')
